#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.coupon-wheel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wheel {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #b0aaaa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 2s ease-in-out;
  overflow: hidden;
}

.wheel.spinning {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.arrow {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #333;
  transform: translateX(-50%);
}

.wheel-inner {
  width: 70%;
  height: 70%;
  background-color: #b0aaaa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slice {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 70px solid #df9311;
  transform-origin: left center;
}

.slice:nth-child(2) {
  transform: rotate(60deg);
}

.slice:nth-child(3) {
  transform: rotate(120deg);
}

.slice:nth-child(4) {
  transform: rotate(180deg);
}

.slice:nth-child(5) {
  transform: rotate(240deg);
}

.slice:nth-child(6) {
  transform: rotate(300deg);
}

h1,
h2 {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
}

